extends main.pug 

block datos 
    h1 Vista de productos - Desafio Clase 10 - Utilizando PUJ
    if productos.length 
        ul
        each producto in productos
            li
                p Nombre: #{producto.title}
                p Precio: #{producto.price}
                img(src=producto.thumbnail alt="imagen" width="50")
        
    else
        <p>No se encontraron productos </p>

    button(id="formButton") Ir a Cargar Productos

    script.
        const formButton = document.getElementById('formButton')
        formButton.addEventListener('click', (event) => {
            window.location= "/";
        });